textarea {
	font-family: 'Droid Sans', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #616161;
	resize: none;
	outline: none;
	width: 85%;
	-webkit-appearance: none;
}

.usertextarea {
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 5px;
	margin-bottom: 1em;
}

#count {
	font-family: 'Droid Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #616161;
}